* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 5em;
    top: 50%;
    left: 50%;
    color: #FF884B;
}

body {
    background-color:#F7E8F6 ;
    font-size: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

section {
    min-height: 100vh;
    width: 100%;
    padding: 100px, 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 80%;
    max-width: 500px;
    margin: 0, auto;
    background-color: #F6F6F6;
    border-radius: 8px;
    padding: 3rem;
    display: flex;
    flex-direction: column;
}

.container p {
    font-size: 2rem;
    font-weight: 300;
    line-height: 3rem;
    text-align: justify;
}

button {
    margin-top: 4rem;
    width: fit-content;
    padding: 2rem;
    font-size: 2rem;
    background: #DCD6F7;
    color: red;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    align-self: flex-end;
}
.btn{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}